<div class="row">

    <div class="col-lg-4"></div>
    
        <div class="col-lg-4" style="margin-top:100px ;">
           <div class="border-container">
            
                <form (ngSubmit)="register()" action="" class="border p-5">
                    <h2 class="text-center text-primary">Register Form</h2>
                    <div class="m-3">
                        
                        <input [(ngModel)]="uname" name="uname" class="form-control" type="text" placeholder="Username">
                    </div>
                    <div class="m-3">
                        <!-- acno (change)="acnoChange($event)" -->
                        <!-- #acno - Template Reference -->
                        <input [(ngModel)]="acno" name="acno" class="form-control" type="text" placeholder="Account Number">
                    </div>
                    <!-- pswd -->
                    <div class="m-3">
                        <input [(ngModel)]="pswd" name="pswd" class="form-control" type="password" placeholder="Password">
                    </div>
                    <div class="m-3">
                        <input  type="submit" value="Register" class="btn btn-primary" >
                    </div>
           
                    <div class="ms-3">
                        <label for="" class="text-white">Already user? Click here to </label><a routerLink="" class="m-2 text-primary">Login</a>
                    </div>
            
        </form>
       
    </div>
    <div class="col-lg-4"></div>
</div>